body {
  background-color:  #935847
}

h1 {
  color: #fffdd0ff;
}

h2 {
  color: #9effc8ff;
}

h3 {
  color: #f5daffff;
}
 
button { 
  background-color: rgb(120, 10, 223);
  
  border: 2px solid cyan;
}
--cream: #fffdd0ff;
--aquamarine: #9effc8ff;
--pink-lace: #f5daffff;